<div class="candidate-view">
  <nav class="breadcrumb">
    <a href="#/candidates">&laquo; Back to candidates</a>
  </nav>
  <div class="header">
    <h1><%= data.candidate.name %></h1>
    <img class="mug" src="./assets/mugs/<%= data.candidate.mug %>">
  </div>
  <ul class="q-and-a">
    <% data.questions.forEach(function(q) { %>
    <li class="<%= q.standalone ? "detailed" : "brief" %>">
      <div class="question"><%= q.text %></div>
      <blockquote><%= data.candidate.questions[q.id] || "<i>No response given</i>" %></blockquote>
    <% }); %>
  </ul>
</div>