<div class="candidate-view">
  <!--<nav class="breadcrumb">
    <a href="#/candidates">▲ Back to candidates</a>
  </nav>-->
  <div class="header">
    <div class="row">
      <div class="mug-container">
        <div class="mug-padding">
          <img class="mug" src="./assets/mugs/<%= data.candidate.mug || "blank.jpg" %>">
        </div>
      </div>
      <div class="bio-container">
        <h1><%= data.candidate.name %></h1>
        <p class="summary"><%= data.candidate.summary %></p>
        <p>
          <a href="http://info.kingcounty.gov/kcelections/candidatesonballot/pamphlet/pamphlet.aspx?cid=2851&eid=8#<%= data.candidate.cid %>">King County voter-pamphlet entry</a>

        <% if (data.candidate.profile) { %>
        <p>
          <a href="<%= data.candidate.profile %>">Profile: <%= data.candidate.profile_text %></a>
        <% } %>
      </div>
    </div>

    <% if (data.candidate.video) { %>
    <div class="video-container">
      <iframe src="//players.brightcove.net/1509317113/V1eCvUwO2g_default/index.html?videoId=<%= data.candidate.video %>" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
    </div>
    <div class="video-caption">
      We asked leading mayoral candidates to explain &mdash; in less than a minute &mdash; how they are a "typical Seattleite" and how they are "atypical." (Lauren Frohne / The Seattle Times)
    </div>
    <% } %>

  </div>

  <% if (data.candidate.dna) { %>
  <div class="did-not-answer">
    <%= data.candidate.name %> did not respond to The Seattle Times questionnaire.
  </div>
  <% } else { %>
  
  <h2>Bio</h2>
  <ul class="biographical questions">
    <% data.bio.forEach(function(q) { %>
    <li>
      <div class="padding">
        <div class="question"><%= q.text %></div>
        <blockquote><%= data.candidate.questions[q.id] || "Did not answer." %></blockquote>
      </div>
    <% }); %>
  </ul>

  <h2>Quick hits</h2>
  <ul class="multiple-choice questions">
    <% data.choice.forEach(function(q) { %>
    <li>
      <div class="padding">
        <div class="question"><%= q.text %></div>
        <ul class="options">
        <% if (data.candidate.questions[q.id]) { %>
        <% q.choices.split(/,\s*/).forEach(function(a) { %>
          <li class="<%= data.candidate.questions[q.id].toLowerCase() == a.toLowerCase() ? "chosen" : "" %>">
            <%= a %>
          </li>
        <% }); %>
        <% } else { %>
          <li class="flagged"> Did not answer.
        <% } %>
        </ul>
      </div>
    <% }); %>
  </ul>
  
  <h2>Policies and plans</h2>
  <ul class="standalone questions">
    <% data.detailed.forEach(function(q) { %>
    <li>
      <div class="padding">
        <div class="question" href="#/issue/<%= q.id %>">
          <%= q.text %>
        </div>
        <blockquote><%= data.candidate.questions[q.id] || "<i>No response given</i>" %></blockquote>
      </div>
    <% }); %>
  </ul>

  <% } %>

</div>