<div class="question-view">
  <nav class="question-list">
    Topics: 
    <% data.questions.forEach(function(q) { %>
      <a href="#/issue/<%= q.id %>"><%= q.issue %></a>
    <% }); %>
  </nav>
  <h2><%= data.question.text %></h2>
  <ul class="candidate-answers">
    <% data.candidates.forEach(function(c) { %>
    <li>
      <a class="meta" href="#/candidates/<%= c.id %>">
        <img src="./assets/mugs/<%= c.mug || "blank.jpg" %>" class="mug">
        <b class="name"><%= c.name %></b>
      </a>
      <blockquote><%= c.questions[data.id] || "Did not answer." %></blockquote>
    <% }); %>
  </ul>
</div>