.candidate-chooser {
  .display-flex();
  .flex-wrap(wrap);
  font-size: 17px;

  .candidate {
    .flex(0 0 percentage(1 / 7));
    text-align: center;
    padding: 20px;
    font-family: @df-sans;
    line-height: 1.2;

    &.did-not-answer {
      
    }

    @media (max-width: 1000px) {
      .flex(0 0 percentage(1 / 5));
    }

    @media @tablet {
      .flex(0 0 25%);
    }

    @media @mobile {
      .flex(0 0 50%);
    }
  }

  .mug {
    border: 1px solid white;
    display: block;
    margin: auto;
  }
}