.question-view {

  .candidate-answers {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      .display-flex();
      margin-bottom: 16px;
    }

    .meta {
      padding-right: 16px;
      text-align: center;
      .flex(0 0 160px);
    }

    b.name {
      font-weight: normal;
      display: block;
      font-family: @df-sans;
      font-size: 16px;
    }

    blockquote {
      margin: 0;
    }
  }
}