<%
// merge data together
var candidates = [];
Object.keys(json.Candidates).forEach(function(k, i) {
  var candidate = json.Candidates[k];
  candidate.id = k;
  candidates.push(candidate);
  candidate.questions = json.Edited[k] || {};
});

%><!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <!--<%= t.include("partials/_ad.html", { type: "banner" }) %>-->

    <header class="splash">
      <div class="inner">
        <h1>Seattle Times mayoral primary guide 2017</h1>
        <p>
          Welcome to The Seattle Times guide to the Seattle mayor’s race. With 21 candidates on the primary-election ballot, we figured voters could use some help sorting through a field so varied it includes not only politicians, lawyers and activists, but a rock drummer, a police officer, even a sausage maker. 
        </p>

        <p>
          Click on the photos to learn more about each candidate, or select “Questions” to compare their answers side by side.
        </p>
        <p class="dateline">Updated July 10, 2017</p>
      </div>
    </header>
    
    <div class="constraint">

      <main>
        <nav class="tab-group">
          <a href="#/candidates" class="candidates active">Candidates</a>
          <a href="#/issue/affordable_housing" class="questions">Issues</a>
          <a href="#/about" class="about">About</a>
        </nav>
        <div class="view-container">
          <%= t.include("js/_candidate-chooser.html", { data: { candidates }}) %>
        </div>
      </main>

    </div>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.candidateData = <%= JSON.stringify(candidates) %>;
window.questionData = <%= JSON.stringify(json.Questions.filter(q => q.category != "removed")) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
